* {
    box-sizing: border-box;
}

body {
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 10px;
    /* background-color: black; */
}

.display {
    width: inherit;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
}

.keys {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 5px;
}

button {
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 2rem;
}

.zero {
    grid-column: 1 / 3;
    border-radius: 10%;
}