* {
    box-sizing: border-box;
}

body {
    width: 450px;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 10px;
    background-color: black;
}

.display {
    width: inherit;
    height: inherit;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    color: white;
}

.keys {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 5px;
}

button {
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 2rem;
    background-color: rgba(92, 92, 92, 1);
    color: white;
    border-color: black;
}

.zero {
    grid-column: 1 / 3;
    border-radius: 30%;
    text-align: left;
}

.keys > button:nth-child(-n+3) {
    background-color: rgba(196, 196, 196, 1);
    color: black;
}

.key-operator {
    background-color: rgba(255, 166, 41, 1);
}